.header-container {
  display: flex;
  height: auto;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
}

.logo-button {
  left: 0;
}

.navbar-container {
  align-items: center;
}

/* .icon-button {
  background-color: #e0e0e0;
  border-radius: 100%;
} */
