.bannerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 18rem;
}

.mainText {
  width: 100%;
  font-size: 1.813rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.subText {
  width: 100%;
  font-family: NotoSansCJKkr;
  font-size: 0.938rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #4dd290;
}

.imgContainer {
  height: 100%;
}

.bannerImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
