button {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}

.dialog {
  border-radius: 48px;
}

.close {
  align-self: flex-end;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
}

.login {
  margin: 0px;
  font-size: 0.938rem;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: -0.38px;
  text-align: center;
  color: #000;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginbutton {
  margin: 0px;
  padding: 0px;
}
