. {
  margin: 0;
  box-sizing: border-box;
}

.NavBar {
  border: 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
